<!-- 考生信息和注意事项条形码版 -->
<section class="studentInfoBarCodeVersion">
  <!-- 基本信息 -->
  <section class="basicInfoThreeCol" *ngIf="isThreeCol; else elseBlock" contenteditable spellcheck="false">
    <!-- TODO 可调整长度 -->
    <span>考场/座位号：</span>
    <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
    <br>
    <span>姓名：</span>
    <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
    <br>
    <span>班级：</span>
    <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
  </section>
  <ng-template #elseBlock>
    <section class="basicInfo" contenteditable spellcheck="false">
      <!-- TODO 可调整长度 -->
      <span>姓名：</span>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
      <span>班级：</span>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
      <br>
      <span>考场/座位号：</span>
      <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
    </section>
  </ng-template>
  <!-- 注意事项 -->
  <section (focus)="onFocus($event)" (blur)="validateNotice($event)" class="attention" [class.attentionThreeCol]="isThreeCol" contenteditable="true" spellcheck="false">
    <div *ngIf="attention; else defaultAttention" [innerHTML]="attention | safe:'html'"></div>
    <ng-template #defaultAttention>
      <div>
        <h4>注意事项</h4>
        <p *ngIf="isThreeCol; else elseAttention">
          1. 答题前，考生先将自己的姓名、班级、考场填写清楚。
          <br>
          2. 选择题部分请按题号用2B铅笔填涂方框。
          <br>
          3. 非选择题部分请按题号用0.5毫米黑色墨水签字笔书写。
          <br>
          4. 请勿折叠，保持卡面清洁。
          <br>
        </p>
        <ng-template #elseAttention>
          <p>
            1. 答题前，考生先将自己的姓名、班级、考场填写清楚，并认真核对条形码上的姓名和准考证号。
            <br>
            2. 选择题部分请按题号用2B铅笔填涂方框，修改时用橡皮擦干净，不留痕迹。
            <br>
            3. 非选择题部分请按题号用0.5毫米黑色墨水签字笔书写，否则作答无效。要求字体工整、笔迹清晰。作图时，必须用2B铅笔，并描浓。
            <br>
            4. 在草稿纸、试题卷上答题无效。
            <br>
            5. 请勿折叠答题卡，保持字体工整、笔迹清晰、卡面清洁。
            <br>
          </p>
        </ng-template>
      </div>
    </ng-template>
  </section>
  <!-- 条形码粘贴区 -->
  <section class="barCodeZone" [class.barCodeZoneThreeCol]="isThreeCol">
    <h2>贴条形码区</h2>
    <p>(正面朝上，切勿贴出虚线方框)</p>
  </section>
  <!-- 相关标记 -->
  <section class="mark" [class.markThreeCol]="isThreeCol">
    <p>正确填涂</p>
    <div><div class="correctMark"></div></div>
    <p>缺考标记</p>
    <div><div class="absenceMark"></div></div>
  </section>
</section>
